
<div class="photo-card">
  <img src="{{webFormat}}" alt="{{tags}}" loading="lazy" class= "gallery__image"/>
  <div class="info">
    <p class="info-item" {{likes}}>
      <b>Likes</b>
    </p>
    <p class="info-item" {{views}}>
      <b>Views</b>
    </p>
    <p class="info-item" {{comments}}>
      <b>Comments</b>
    </p>
    <p class="info-item" {{downloads}}>
      <b>Downloads</b>
    </p>
  </div>
</div>
